@mixin xs {
    @media (max-width: 575.98px) {
        @content;
    }
}

@mixin sm {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin xl {
    @media (min-width: 1600px) {
        @content;
    }
}

$sm-padding-ctr: '10px';
$md-padding-ctr: '40px';
$lg-padding-ctr: '200px';

.main-layout {
    background: transparent;
    height: auto;

    @include xs {
        padding: 0 17px;
    }
    @include sm {
        padding: 0 40px;
    }
    @include md {
        padding: 0 100px;
    }
    @include lg {
        padding: 0 100px;
    }

    @include xl {
        padding: 0 20vw;
    }

    &__curve-1 {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__portfolio, &__we-are, &__we-provide {
        background: transparent;

        &_title {
            text-align: center;
            margin-bottom: 20px;
            text-transform: uppercase;
            //font-family: "Alata", sans-serif;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
        }
    }

    &__divider {
        width: 100%;
        height: 1px;
        background: rgba(53, 53, 53, 0.7);
        margin: 80px 0;
    }

    &__portfolio {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;

        &__container {
            display: grid;

            @include xs {
                grid-template-columns: 1fr;
                grid-gap: 20px;
            }
            @include sm {
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
            }
            @include md {
                grid-template-columns: 1fr 1fr ;
                grid-gap: 60px;
            }
            @include lg {
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 50px;
            }

        }

        &__item {
            position: relative;
            overflow: hidden;
            text-decoration: none;
            cursor: pointer;
            padding: 10px;
            display: flex;
            flex-direction: column;

            &:hover &__image {
                transition: 0.5s cubic-bezier(0.1, 0.1, 0.1, 1);
                transform: scale(0.9);
            }

            &:hover &__text {
                transition: 0.5s cubic-bezier(0.4, 0, 0.5, 1);
                bottom: 0 !important;
            }

            &__image {
                z-index: 2;
                transition: 0.3s ease-out;

                img {
                    border-radius: 15px;
                    width: 100%;
                    height: 100%;
                }
            }

            &__text {
                transition: 0.3s ease-in;
                z-index: 3;
                width: 100%;
                position: absolute;
                bottom: -100px;
                left: 0;
                background: #ffe4c4;
                padding: 10px 20px;
                border-radius: 15px 15px 0 0;
            }

            &__title {
                padding-left: 20px;
                font-size: 22px;
                font-family: "Alata", sans-serif;
            }

            &__props {
                display: flex;
                justify-content: space-between;
            }

            &__prop {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 17px;

                span {
                    margin-left: 10px;
                    font-family: "Alata", sans-serif;
                }
            }

        }
    }

    &__we-are {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;



        &__container {
            display: grid;

            @include xs {
                grid-template-columns: 1fr;
            }
            @include sm {
                grid-template-columns: 1fr;
            }
            @include md {
                grid-template-columns: 1fr 1fr;
            }



        }

        &__text {

            display: flex;
            align-items: center;

            p {
                white-space: pre-wrap;
            }
        }

        &__image {
            display: flex;
            align-items: center;

            img {
                width: 100%;
            }
        }
    }

    &__we-provide {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
