.pinned {
  transition: 0.3s;
  background: #ffe4c4;
  box-shadow: 0 5px 20px #ffe4c4;
}

.header {
  transition: 0.3s;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  z-index: 999;
}
@media (max-width: 575.98px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 576px) {
  .header {
    display: grid;
  }
}
@media (min-width: 768px) {
  .header {
    display: flex;
  }
}
.header__logo, .header__social-networks {
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .header__logo, .header__social-networks {
    justify-content: flex-start;
  }
}
@media (min-width: 576px) {
  .header__logo, .header__social-networks {
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .header__logo, .header__social-networks {
    justify-content: center;
  }
}
.header__logo {
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-start: 1;
}
.header__logo:hover {
  transition: 0.2s;
  filter: drop-shadow(0 0 5px rgba(128, 128, 128, 0.77));
}
.header__text {
  cursor: pointer;
  white-space: nowrap;
  font-family: "Permanent Marker", cursive;
}
@media (max-width: 575.98px) {
  .header__text {
    font-size: 28px;
  }
}
@media (min-width: 576px) {
  .header__text {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .header__text {
    font-size: 28px;
  }
}
.header__menu {
  grid-column-start: 2;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575.98px) {
  .header__menu {
    display: none;
  }
}
@media (min-width: 576px) {
  .header__menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    margin: 0 30px;
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .header__menu {
    margin: 0 60px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .header__menu {
    margin: 0 120px;
  }
}
.header__menu__container {
  display: flex;
  padding: 0;
  margin: 0;
}
.header__menu__item {
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  font-family: "Alata", sans-serif;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .header__menu__item {
    margin: 0 7px;
  }
}
@media (min-width: 992px) {
  .header__menu__item {
    margin: 0 15px;
  }
}
.header__menu__item:hover {
  transition: 0.2s;
  filter: drop-shadow(0 0 5px rgba(128, 128, 128, 0.57));
}
.header__social-networks {
  grid-column-start: 3;
}
@media (max-width: 575.98px) {
  .header__social-networks {
    display: none;
  }
}
@media (min-width: 576px) {
  .header__social-networks {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__social-networks {
    display: flex;
  }
}
.header__social-networks__container {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header__social-networks__item {
  transition: 0.2s;
  cursor: pointer;
  font-size: 22px;
}
@media (min-width: 768px) {
  .header__social-networks__item {
    margin: 0 7px;
  }
}
@media (min-width: 992px) {
  .header__social-networks__item {
    margin: 0 15px;
  }
}
.header__social-networks__item:hover {
  transition: 0.2s;
  filter: drop-shadow(0 0 5px rgba(128, 128, 128, 0.57));
}
.header__dropdown-btn {
  justify-content: flex-end;
  align-self: center;
}
@media (max-width: 575.98px) {
  .header__dropdown-btn {
    display: flex;
  }
}
@media (min-width: 576px) {
  .header__dropdown-btn {
    display: flex;
  }
}
@media (min-width: 768px) {
  .header__dropdown-btn {
    display: none;
  }
}
.header__dropdown-btn .btn-container {
  cursor: pointer;
  font-size: 32px;
}
.header__dropdown-list {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  overflow-y: hidden;
  position: relative;
}
@media (min-width: 576px) {
  .header__dropdown-list {
    display: flex;
  }
}
@media (min-width: 768px) {
  .header__dropdown-list {
    display: none;
  }
}
.header__dropdown-list .opened-dropdown {
  transition: 0.7s cubic-bezier(0.1, 0.1, 0.1, 1);
  top: 0;
  height: 180px;
}
.header__dropdown-list__container {
  transition: 0.7s cubic-bezier(0.4, 0, 0.5, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  top: -165px;
}
.header__dropdown-list__item {
  transition: 0.2s;
  cursor: pointer;
  margin: 0 10px;
  font-size: 19px;
  font-family: "Alata", sans-serif;
}
.header__dropdown-list__item:hover {
  transition: 0.2s;
  filter: drop-shadow(0 0 5px rgba(128, 128, 128, 0.57));
}

/*# sourceMappingURL=Header.css.map */
