@import url('https://fonts.googleapis.com/css2?family=Alata&family=Kaushan+Script&family=Permanent+Marker&family=Josefin+Sans:wght@300;400;500&display=swap');



body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.svg-1 {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.svg-2 {
    z-index: -1;
    position: absolute;
    top: 1300px;
    left: 0;
}
